.error {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.error__title {
  max-width: 32rem;
  width: 100%;
  padding: 1rem;
  font-weight: 600;
  text-align: center;
  font-size: 2rem;
  background: #1c2a39;
}

.error__info {
  max-width: 32rem;
  background: #ecf0f1;
  color: #2c3a49;
  width: 100%;
  padding: 2rem 1rem;
  font-weight: 600;
  text-align: center;
}
