.home {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.home__info {
  max-width: 64rem;
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  line-height: 1.2;
  white-space: pre-line;
  margin: 0;
  padding: 0 2rem;
  margin-bottom: 7.5vh;
}

@media only screen and (max-width: 425px) {
  .home__info {
    font-size: 1.25rem;
  }
}
